<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Ingrid+Darling&family=Love+Ya+Like+A+Sister&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../Style/digitale.css">
        <script type="module" src="../Script/vani.js" defer></script>
        <title>Document</title>
    </head>

    <body>
        <header>
            <div id="logo">
                <p>Pm</p>
            </div>
            <nav>
                <ul id="link-container">
                    <a class="page-link" href="../../Main Page/index.html">Naissance</a>
                    <a class="page-link" href="../../Biography Page/bio.html">Biographie</a>
                    <a class="page-link" href="../View/vani.html">Vanités</a>
                    <a class="page-link" href="#">Murmure moi</a>
                </ul>
            </nav>
        </header>

        <main>
            <div id="top-container">
                <div id="card-container">
                    <img id="frame" src="../../assets/img/perfumeFrame.png" alt="perfumeFrame">
                            <div id="perfume-name">
                                <p>Digitale Pourprée</p>
                            </div>
                        <div id="perfumes-container">
                            <img id="perfumes" src="../../assets/img/perfumes.png" alt="perfumes">
                        </div>
                </div>
                <div id="bio-container">
                    <p>Un parfum subtil et silencieux 
                        pour ceux qui veulent qu'on ne 
                        se souvienne pas de leur visage, 
                        mais plutôt de la ruse de leurs 
                        actes.</p>
                </div>
                <div id="flower-img-container">
                    <img id="flower" src="../../assets/img/flower4.png" alt="flower">
                </div>
            </div>

            <div id="bottom-container">
                <div id="frame-container">
                    <a href="../View/vani.html"><img class="frame" src="../../assets/img/frame4.jpg" alt="frame"></a>
                    <a href="../View/laurier.html"><img class="frame" src="../../assets/img/frame3.jpg" alt="frame"></a>
                    <a href="../View/muguet.htm"><img class="frame" src="../../assets/img/frame2.jpg" alt="frame"></a>
                    <a href="../View/digitale.html"><img class="frame" src="../../assets/img/frame1.jpg" alt="frame"></a>
                </div>
            </div>
        </main>
    </body>
</html>